body {
	font-family: 'Open Sans';
	font-size: 14pt;
}

.FormField {
  margin-bottom: 40px;
  margin-top: 40px;

}


.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: #000000;
}

.FormField__Input {
  width: 30%;
  background-color: transparent;
  border: none;
  color: #000000;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}


.FormField__Button {
  background-color: #56F89A;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

